*.tdo*
.DS_Store*
*.aux*
*.log*
*.lof*
*.lot*
*.out*
*.gz*
*.toc*
*.bbl*
*.blg*
*~*
*.nlo*
*make*
*.d*
*.bcf*
*.blg*
*~*
*.nlo*
*make
*.d
*.btmp*
*.nav*
*.snm*
*.fls*
*.glo*
*.idx*
*.ist*
*.ilg*
*.ind*
*cookie*
*#*
*.nls*
*.nlg*
thesis.txt*
thesis.bcf*
thesis.run.xml*
*run.xml*
*.latexmkrc*
*_latexmk*
_site
*.DS_Store*
*.sublime-project
*.sublime-workspace
codekit-config.json
node_modules
Gemfile.lock
.sass-cache
_data
_posts
_layouts
_site
_includes
